.nav {
  position: absolute;
  z-index: 99;
  width: 100%;
  background-color:rgba(256, 256, 256, 0.3);
  transition: 0.75s;
  
  .navbar {
    a {
      color: black;
      margin-right: 15px;
      font-size: 24px;
      position: relative;
      top: 15px;
    }
  } 
}

.nav.scrolled {
  position: fixed;
  background-color:rgba(256, 256, 256, 0.9);
}

.contact-area {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  font-size: 18px;
  height: 40px;
  
  .contact-item {
    margin-left: 20px;
  }
  
  img {
    height: 40px;
    
    &.booking-icon {
      height: 50px;
    }
  }
}

