.img-gallery-container {
  padding-top: 141px;
  
  .mini-gallery {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    
    .image-gallery {
      width: 50%;
    }
    
    .gallery-info {
      width: 50%;
      margin: auto;
    }
  }
}


